.env/
__pycache__/
server_mcf_backup/
APIKEY
stats_field/
untracking/
deprecated/
mcf/images_lib/chars/blue/*
mcf/images_lib/chars/red/*
images_lib/chars/testfield/red/
images_lib/chars/testfield/
images_lib/chars/testfield
images_lib/screenshot_PIL.png
testrun.bat
telegram.bat
botrun.bat
OTHERS.py
ARAM_BOT.bat
x_full.png
test_emulation.py
update/
wrk
MSG.py
message.bat
TODO
app.py
unt_config.cfg
telegram.bat
bot_reload.py
storage_data/depr.txt
_future/