.env/
__pycache__/
APIKEY
stats_field/
untracking/
deprecated/
images_lib/chars/blue/*
images_lib/chars/red/*
images_lib/chars/testfield/red/
images_lib/chars/testfield/
images_lib/chars/testfield
images_lib/buildcrop.png
images_lib/build_compare.png
images_lib/scorecrop.png
images_lib/screenshot_PIL.png
arambot_lib/mcf_status.png
mcf_lib/xbt.png
testrun.bat
telegram.bat
botrun.bat
OTHERS.py
ARAM_BOT.bat
x_full.png

